.helloInput {
  width: 200px;
}

h4 {
  margin-left: 10px;
}
.selectImage{
  margin-right: 120px;
}

.submitButton{
  margin-right: 200px;
}
div.content{
  margin-top: 15px;
}
li {
    display: inline;
    float: left;
}
