<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sherlock 2018 - Investigate Your Notes</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet">
</head>

<body><nav>
  <h4><a href="index.html">Home</a> |
  <a href="about.html">About</a> |
  <a href="social_media.html">Social Media</a> </h4>
</nav>


  <!-- Changes to logo location -->
  <div class = "content" align = "center">
    <img class = "logo" src="../static/SherlockLogo.png" alt="Sherlock Logo" width= "40%">
      <div class="container">
          <h1>Investigate your notes.</h1>
          <audio controls>
            <source src="horse.ogg" type="audio/ogg">
          </audio>
</body>
</html>
